@import url("fonts.css");

* {
    font-family: "DM Sans", sans-serif;
    box-sizing: border-box;
}

body {
    max-width: 1280px;
    margin-inline: auto;
    background-color: #afafaf;
}

section {
    margin-block: 0.5rem;
    padding: 0.5rem;
    padding-inline: 1rem;
    background-color: #eeeeee;
    border-radius: 0.5rem;
}

section > div, section > p {
    margin-block: 0.5rem;
}

label {
    display: inline-block;
    width: 5rem;
}

button {
    padding: 0.5rem;
    padding-inline: 1rem;
    background-color: #003539;
    color: #D5EA3B;
    border: none;
    border-radius: 0.5rem;
}

button:focus-visible {
    outline: 0.1rem solid #D5EA3B;
}

input {
    flex-grow: 1;
    padding: 0.5rem;
    background-color: #F1F79F;
    border: none;
}

input:focus-visible {
    outline: 0.1rem solid #FA5050;
}

.timer {
    display: none;
}

.renderedTimer {
    max-width: 100%;
    height: fit-content;
}

.field {
    display: flex;
    align-items: center;
    gap: 0.25rem;
}

@media (max-width: calc(1280px + 1rem)) {
    body {
        max-width: calc(100% - 1rem);
    }
}

@media (max-width: 400px) {
    .field {
        flex-wrap: wrap;
    }

    .field label {
        width: 100%;
    }
}